/* PARAMETRES GENERAUX */
    :root {
        --primary-color-bg : #333333;
        --second-color-bg : #66bb6a;
        --primary-color-font : #181818;
        --second-color-font : #ffffff;
        --third-color-font : #66bb6a;
    }

    *, *::before, *::after {
        box-sizing: border-box;
    }

    footer {
        min-height: 10vh;
        text-align: center;
    }

    body {
        background-color: var(--primary-color-bg);
        color: var(--second-color-font);
        display: flex;
        flex-direction: column;
        position: relative;
    }

    label {
        color: var(--primary-color-font)
    }

    #message {
        height:auto;
    }

    .container-fluid, .col-sm-1, .col-sm-11, .row {
        padding: 0;
        margin: 0;
    }

    #main {
        min-height: 85vh;
    }

/* MENU */

    header {
        background-color: var(--second-color-bg);
        text-align: center;
    }

    nav ul {
        padding-left: 0;
        list-style: none;
    }

    .fa-home, .fa-id-card, .fa-cog, .fa-eye, .fa-envelope, .fa-linkedin-in {
        color: var(--primary-color-font);
        font-size: 25px;
    }

    .menu-anim {
        position: relative;
        background-color:var(--second-color-bg);
        overflow: hidden;
        cursor: pointer;
    }

    .menu-anim .menu-anim-dynamic {
        background-color: var(--second-color-bg);
        overflow: hidden;
    }

    .menu-anim-static { 
        font-size: 11px;
        color: var(--primary-color-font);
        text-decoration: underline;
    }

/* TITRES */

    h1 {
        font-size: 50px;
        margin: 0;
    }

    h2 {
        font-size: 20px;
        font-style: italic;
        color:#c4c3c3;
    }

    h3 {
        font-size: 15px;
        font-style: italic;
        color:#b3b3b3;
    }
    
    h4 {
        font-size: 15px;
        color:#b3b3b3;
    }

/* LIENS */

    a {
        color: var(--second-color-font);
        text-decoration: underline;
    }

    a:visited {
        color: #ff7373;
    }

    a:hover {
        color: var(--third-color-font);
    }

/* PAGE SKILLS */



/* PAGE CONTACT */

    .input-group, .form-floating {
        margin: 1.5em;
    }

/* FOOTER */

    footer {
        background-color: var(--second-color-bg);
        text-align: center;
        color: var(--primary-color-font);
    }